<footer class="text-center text-lg-start bg-white text-muted"
	style="border-top-left-radius:40px ;border-top-right-radius: 40px;">


	<section class="p-2">
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<a href="index.html"><img src="/assets/images/logo.png" style="max-width: 60vw;" alt="Logo"
							width="200px" height="auto"></a>



					<div class="p-4 pb-0">
						<section class="mb-4 gap-4 d-flex justify-content-center">
							<!-- Facebook -->
							<a href="https://facebook.com" role="button"><i class="bi text-primary bi-facebook"></i></a>

							<!-- Telegram -->
							<a href="https://www.t.me/dermatovenerologia" role="button"><i
									class="bi text-info bi-telegram"></i></a>

							<!-- Google -->
							<a href="https://www.google.com/search?q=asmoclinic" role="button"><i
									class="bi text-warning bi-google"></i></a>

							<!-- Instagram -->
							<a href="https://instagram.com/asmoclinic" role="button"><i
									class="bi text-danger bi-instagram"></i></a>
						</section>
						<!-- Section: Social media -->
					</div>

				</div>

				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<ul class="navbar-nav ">
						<li class=" ">
							<a class="nav-link" href="/">Asosiy</a></li>
						<li class="">
							<a class="nav-link" href="/team">Jamoa</a>
						</li>
						<li class="">
							<a class="nav-link" href="/gallery">Galereya</a>
						</li>
						<li class="">
							<a class="nav-link" href="/blogs">Blog</a>
						</li>
						<li class="">
							<a class="nav-link" href="/results">Natijalar</a>
						</li>
						<li class="">
							<a class="nav-link" href="/about">Biz haqimizda</a>
						</li>
						<li class="">
							<a class="nav-link" href="/admin">Login</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<p>Mirobod tumani, Farg`ona yo`li ko`chasi 708-uy</p>
					<a class="nav-link" href="mailto:clinicasmo@gmail.com">clinicasmo@gmail.com</a><br>
					<a class="nav-link" href="tel:+998555018866">+998 55 501 88 66</a><br>
					<a class="nav-link" href="tel:+998909962370">+998 90 996 23 70</a>
				</div>
			</div>
		</div>
	</section>
	<div class="container d-flex justify-content-between w-100" style="background-color: rgba(0, 0, 0, 0.05);">

		<div class="text-center p-4">&copy; 2024 Copyright. Asmo
			Clinic
		</div>

		<div class="text-center p-4"><a class="text-reset" href="https://bladejoe.netlify.app">Made by X.B.M</a>
		</div>
	</div>
</footer>