<!DOCTYPE html>
<html lang="uz">


<%- include('partials/head'); %>

<body>
    <div class="loader__wrapper">

        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>


    <%- include('partials/navbar'); %>

    <main class="container">

        admin

    </main>


    <%- include('partials/footer')%>

</body>

</html>