<!DOCTYPE html>
<html lang="uz">


<%- include('partials/head'); %>

<body>
    <div class="loader__wrapper">

        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>



    <main class="main">
        <form style="height: 100%;"
            class=" visually-hidden form container  d-flex justify-content-center align-items-center flex-column gap-2">
            <label class="d-flex flex-column text-center gap-1">
                <span class="text-primary">Login</span>
                <input type="text" placeholder="Login" class="form-control login">
            </label>
            <label class="d-flex flex-column text-center gap-1">
                <span class="text-primary">Password</span>
                <input type="text" placeholder="password" class="form-control password">
            </label>
            <label class=" text-center gap-1 w-50 m-3">

                <button class="btn w-50 text-center btn-outline-primary" type="submit">Submit</button>
            </label>
            <span class="status"></span>

        </form>


        <div class="flex-shrink-0 p-3 bg-white d-flex flex-column" style="max-width:400px;height: 100%;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3  text-decoration-none border-bottom">

                <a href="/"><img class="navbar-brand" src="assets/images/logo.png" width="200" height="auto"
                        style="max-width: 200px; width: 100vw;" alt="logo"></a>
            </a>
            <ul class="list-unstyled ps-0 d-flex flex-column justify-content-between fs-3">
                <li class="mb-1">

                    Doctors
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link rounded">Add</a></li>
                        <li><a href="#" class=" rounded">Delete</a></li>
                        <li><a href="#" class=" rounded">Update</a></li>
                    </ul>
                </li>
                <li class="mb-1">

                    Blogs
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class=" rounded">Overview</a></li>
                        <li><a href="#" class=" rounded">Weekly</a></li>
                        <li><a href="#" class=" rounded">Monthly</a></li>
                        <li><a href="#" class=" rounded">Annually</a></li>
                    </ul>
                </li>
                <li class="mb-1">
                    Results
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class=" rounded">New</a></li>
                        <li><a href="#" class=" rounded">Processed</a></li>
                        <li><a href="#" class=" rounded">Shipped</a></li>
                        <li><a href="#" class=" rounded">Returned</a></li>
                    </ul>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                        Sign out
                    </button>

                </li>
            </ul>
        </div>
        </div>

    </main>
    <script>
        if (localStorage.getItem("username")) {
            window.location.href == "index.html"
        }


        let login = document.querySelector(".login")
        let password = document.querySelector(".password")
        let form = document.querySelector(".form")
        let main = document.querySelector(".main")

        form.addEventListener("submit", function (evt) {
            evt.preventDefault();
            if (login.value && password.value) {

                if (login.value == "1" && password.value == "2") {
                    form.classList.add("visually-hidden");
                    main.classList.remove("visually-hidden");

                } else {
                    alert("error");
                    console.log(status);
                    document.querySelector(".status").textContent = "ERROR"
                }


            }


        })
    </script>




</body>

</html>