<!DOCTYPE html>
<html lang="uz">


<%- include('partials/head'); %>

<body>
    <div class="loader__wrapper">

        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>


    <%- include('partials/navbar'); %>

    <main>
        <form style="height: 100%;"
            class="container  d-flex justify-content-center align-items-center flex-column gap-2">
            <label class="d-flex flex-column text-center gap-1">
                <span class="text-primary">Login</span>
                <input type="text" placeholder="Login" class="form-control login">
            </label>
            <label class="d-flex flex-column text-center gap-1">
                <span class="text-primary">Password</span>
                <input type="text" placeholder="password" class="form-control password">
            </label>
            <label class=" text-center gap-1 w-50 m-3">

                <button class="btn w-50 text-center btn-outline-primary" type="submit">Submit</button>
            </label>

        </form>

    </main>




</body>

</html>