<!DOCTYPE html>
<html lang="uz">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Asmoclinic - Асмоклиник">
	<link rel="icon" type="image/x-icon" href="./../assets/images/favicon.svg">
	<link rel="stylesheet" href="./../assets/css/main.css">
	<link rel="stylesheet" href="./../assets/bootstrap/bootstrap.min.css">
	<script src="./../assets/bootstrap/bootstrap.min.js"></script>
	<script src="./../assets/js/jquery.min.js"></script>
	<script src="./../assets/js/main.js"></script>
	<title>Asmo clinic</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>

	<div class="loader__wrapper">

		<div class="lds-ring">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

	</div>

	<nav class="navbar sticky-lg-top navbar-expand-lg bg-white"
		style="border-bottom-left-radius:40px ;border-bottom-right-radius: 40px;">
		<div class="container d-flex justify-content-between">
			<a href="./../index.html"><img class="navbar-brand" src="../assets/images/logo.png" width="200"
					height="auto" style="max-width: 200px; width: 100vw;" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav text-center d-flex ms-auto align-items-center">
					<li class="nav-item ">
						<a class="nav-link" href="./../index.html">Asosiy</a></li>
					<li class="nav-item">
						<a class="nav-link" href="./../team.html">Jamoa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./../gallery.html">Galereya</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./../services.html">Xizmatlar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./../results.html">Natijalar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./../about-us.html">Biz haqimizda</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="./../../ru/team/team-1.html"><img src="./../assets/images/lang.png"
								width="80" height="" alt="tilni tanlash"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<main>
		<div class="my-5 container bg-white rounded-5 w-100 d-flex flex-column justify-content-center">
			<div class="team__inner-wrapper py-5 d-inline-block d-xl-flex align-items-center">
				<img class="team__img rounded-4 mb-4 mb-xl-0" src="./../assets/images/team/team-1.jpg" alt="">
				<div class="team__card ms-0 ms-xl-5 w-100 card p-3 border-0 text-center">
					<h2 class="mb-4 text-center">Muhamedov Bahrom Ilamanovich</h2>
					<p class="fs-3 fw-normal mt-3 ms-2 display-5">Bosh Shifokor</p>
					<hr>
					<p class="fs-3 pt-2 fw-normal ms-2 display-5">Tibbiyot fanlari nomzodi, dotsent, oliy toifali vrach
						dermatovenerolog </p>
				</div>
			</div>
			<div>
				<table class="table table-striped mb-5 border">
					<tbody>
						<tr>
							<td colspan="2"><strong>Shaxsiy malumotlar</strong></td>
						</tr>
						<tr>
							<td>Tug`ilgan kun:</td>
							<td>27 oktyabr 1969 yil.</td>
						</tr>
						<tr>
							<td>1986-1993</td>
							<td>
								<p>2-Toshkent davlat tibbiyot instituti </p>
								<p> Fakultet: Umumiy tibbiyot </p>
							</td>
						</tr>
						<tr>
							<td>1993-1995</td>
							<td> 2-Toshkent Davlat Tibbiyot Instituti Teri va tanosil kasalliklari
								kafedrasida klinik ordinatura fakultet dermatovenerologiya</td>
						</tr>
						<tr>
							<td> 1995-2001 </td>
							<td> 2-Toshkent davlat tibbiyot instituti teri va tanosil kasalliklari kafedrasi assistenti
							</td>
						</tr>
						<tr>
							<td> 2001-2002 </td>
							<td> 2-Toshkent davlat tibbiyot instituti teri va tanosil kasalliklari kafedrasi katta
								o'qituvchisi </td>
						</tr>
						<tr>
							<td> 2002-2003 </td>
							<td> 2-Toshkent davlat tibbiyot instituti teri va tanosil kasalliklari kafedrasi dotsenti
							</td>
						</tr>
						<tr>
							<td>2003-2005</td>
							<td> 2-Toshkent davlat tibbiyot instituti teri va tanosil kasalliklari kafedrasi doktoranti
							</td>
						</tr>
						<tr>
							<td> 2006-2007 </td>
							<td> TMA teri va tanosil kasalliklari kafedrasi dotsenti </td>
						</tr>
						<tr>
							<td> 2007 </td>
							<td> Respublika teri-tanosil kasalliklari klinik shifoxonasi vrach-rezidenti </td>
						</tr>
						<tr>
							<td> 2012 </td>
							<td> Respublika teri-tanosil kasalliklari klinik shifoxonasi poliklinika bo'limi shifokori
							</td>
						</tr>
						<tr>
							<td> 2013 </td>
							<td> Respublika teri-tanosil kasalliklari klinik shifoxonasi statsionar bo'limi mudiri </td>
						</tr>
						<tr>
							<td> 2017</td>
							<td> Respublika teri-tanosil kasalliklari klinik shifoxonasi bosh shifokorining davolash
								ishlari bo'yicha o'rinbosari </td>
						</tr>
						<tr>
							<td>-2021</td>
							<td> "Asmo clinic"da Bosh vrach</td>
						</tr>
						<tr>
							<td colspan="2"> <strong> Ilmiy daraja: </strong> </td>
						</tr>
						<tr>
							<td> 1999 </td>
							<td>“Sifilisning dastlabki shakllarida ekstansilindan foydalanish” mavzusida nomzodlik
								dissertatsiyasini himoya qilish</td>
						</tr>
						<tr>
							<td colspan="2"><strong>Ilmiy unvoni:</strong></td>
						</tr>
						<tr>
							<td>2007</td>
							<td>Dotsent</td>
						</tr>
						<tr>
							<td colspan="2"><strong>Kategoriya:</strong></td>
						</tr>
						<tr>
							<td></td>
							<td>Oliy</td>
						</tr>
						<tr>
							<td colspan="2"><strong>Nashrlar:</strong></td>
						</tr>
						<tr>
							<td></td>
							<td>70 tadan ortiq ilmiy maqola,
								4 ta metodik qo'llanma,
								3 ta uslubiy tavsiya,
								3 ta o'quv qo'llanma,
								2 ta uslubiy qo'llanmalar muallifi</td>
						</tr>
						<tr>
							<td colspan="2"><strong>Til bilishi:</strong></td>
						</tr>
						<tr>
							<td></td>
							<td>Ingliz tili - o`rtacha<br>
								Rus tili - erkin<br>
								O`zbek tili - ona til</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>


	<footer class="text-center text-lg-start bg-white text-muted"
		style="border-top-left-radius:40px ;border-top-right-radius: 40px;">


		<section class="p-2">
			<div class="container text-center text-md-start mt-5">
				<div class="row mt-3">
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<a href="index.html"><img src="./../assets/images/logo.png" style="max-width: 60vw;" alt="Logo"
								width="200px" height="auto"></a>



						<div class="p-4 pb-0">
							<section class="mb-4 gap-4 d-flex justify-content-center">
								<!-- Facebook -->
								<a href="https://facebook.com" role="button"><i
										class="bi text-primary bi-facebook"></i></a>

								<!-- Telegram -->
								<a href="https://www.t.me/dermatovenerologia" role="button"><i
										class="bi text-info bi-telegram"></i></a>

								<!-- Google -->
								<a href="https://www.google.com/search?q=asmoclinic" role="button"><i
										class="bi text-warning bi-google"></i></a>

								<!-- Instagram -->
								<a href="https://instagram.com/asmoclinic" role="button"><i
										class="bi text-danger bi-instagram"></i></a>
							</section>
							<!-- Section: Social media -->
						</div>

					</div>

					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<ul class="navbar-nav">
							<li class="nav-item ">
								<a class="nav-link" href="./../index.html">Asosiy</a></li>
							<li class="nav-item">
								<a class="nav-link" href="./../team.html">Jamoa</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./../gallery.html">Galereya</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./../services.html">Xizmatlar</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./../results.html">Natijalar</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./../about-us.html">Biz haqimizda</a>
							</li>
							<!--<li class="nav-item">
								<a class="nav-link " href="index.html"><img src="./../assets/images/lang.png" width="80" height="" alt="tilni tanlash"></a>
							</li> -->
						</ul>
					</div>
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<p>Mirobod tumani, Farg`ona yo`li ko`chasi 708-uy</p>
						<a class="nav-link" href="mailto:clinicasmo@gmail.com">clinicasmo@gmail.com</a><br>
						<a class="nav-link" href="tel:+998555018866">+998 55 501 88 66</a><br>
						<a class="nav-link" href="tel:+998909962370">+998 90 996 23 70</a>
					</div>
				</div>
			</div>
		</section>
		<div class="container d-flex justify-content-between w-100" style="background-color: rgba(0, 0, 0, 0.05);">

			<div class="text-center p-4">&copy; 2022 Copyright. Asmo
				Clinic
			</div>

			<div class="text-center p-4"><a class="text-reset" href="https://bladejoe.netlify.app">Made by X.B.M</a>
			</div>
		</div>
	</footer>

	<script src="./../assets/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>


</body>

</html>